<footer class="footer mt-32 add-bg bg-6">
  <div class="flex justify-center">
    <a href="#" class='block mx-3 hover:opacity-75'>
      <img src="./images/fbBtn.png" alt="fbBtn">
    </a>
    <a href="#" class='block mx-3 hover:opacity-75'>
      <img src="./images/youtubeBtn.png" alt="youtubeBtn">
    </a>
    <a href="#" class='block mx-3 hover:opacity-75'>
      <img src="./images/lineBtn.png" alt="lineBtn">
    </a>
  </div>
  <div class="mt-8 flex justify-center rounded-full max-w-xl  mx-auto border overflow-hidden">
    <input type="email" placeholder="輸入Email 訂閱電子報" class='w-full pl-6'>
    <input type="submit" value="送出" class='bg-mainb text-white py-3 px-8 hover:bg-mainb-light cursor-pointer text-lg'>
  </div>
  <div class="divide-x divide-mainb text-mainb flex justify-center mt-6">
    <a href="#" class='px-4 hover:opacity-75'>版權說明</a>
    <a href="#" class='px-4 hover:opacity-75'>訂購服務</a>
    <a href="#" class='px-4 hover:opacity-75'>贊助我們</a>
    <a href="#" class='px-4 hover:opacity-75'>聯絡我們</a>
    <a href="#" class='px-4 hover:opacity-75'>簡体中文</a>

  </div>
  <div class="w-full mt-8 bg-m-gold text-white">
    <div class="container text-center py-6 leading-8 mx-auto">
      <p>奇蹟課程中文部網站，是《奇蹟課程》出版機構「心靈平安基金會」委託譯者若水女士為華文讀者成立的正式網站。</p>
      <p>奇蹟資訊中心著作權所有 © 2020 All Rights Reserved. </p>
    </div>
  </div>
</footer>