<header id='header' class='fixed w-full z-40 text-2xl lg:text-base'>
  <div class="header-container w-full z-50">
    <div class="container mx-auto py-1 flex text-mainb font-bold relative justify-between px-4">
      <div class="flex items-center">
        <a href="./index.html">
          <img src="./images/logo.png" alt="">
        </a>
        <div id='mainMenu' 
          class=''>
          <div class='menuInnerContainer flex lg:items-center pt-6 lg:pt-0'>
            <!-- <div
              class="clozBtn z-30 text-mainb absolute right-0 top-0 mr-8 mt-8 cursor-pointer hover:text-white duration-300 lg:hidden">
              <svg class='fill-current w-12 h-12' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                  clip-rule="evenodd" />
              </svg>
            </div> -->
            <ul class='flex lg:items-center ml-4 menu  w-full  flex-col lg:flex-row'>
              <li class='relative'><a href="./index.html"
                  class='flex items-center lg:h-16 p-5 lg:hover:text-m-gold lg:justify-center'>關於奇蹟課程</a></li>
              <li class='relative'><a href="./news.html"
                  class='flex items-center lg:h-16 p-5 lg:hover:text-m-gold lg:justify-center'>最新消息</a></li>
              <li class='relative hasSub'>
                <a href="#"
                  class=' flex items-center lg:h-16 p-5 lg:hover:text-m-gold lg:justify-center'>奇蹟專欄
                  <i class="icon down-arr ml-2"></i>
                </a>
                <div
                  class='subMenu left-0 -mt-4 lg:mt-0'>
                  <div class="lg:inline-flex flex-col  p-2 lg:p-4 flex-shrink-0">
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>若水</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>肯恩</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>Judy</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>Judy</a></div>
                  </div>
                  <div class="lg:inline-flex flex-col  p-2 lg:p-4 flex-shrink-0">
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>若水</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>肯恩</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>Judy</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>Judy</a></div>
                  </div>
                  <div class="lg:inline-flex flex-col  p-2 lg:p-4 flex-shrink-0">
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>若水若水若水若水</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>肯恩</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>Judy</a></div>
                    <div><a href="./column.html" class='py-1 px-4 block hover:text-mainb'>Judy</a></div>
                  </div>
                </div>
              </li>
              <li class='relative'><a href="./publication.html"
                  class='flex items-center lg:h-16 p-5 lg:hover:text-m-gold lg:justify-center'>出版品</a></li>
              <li class='relative'><a href="./card.html"
                  class='flex items-center lg:h-16 p-5 lg:hover:text-m-gold lg:justify-center'>奇蹟卡</a></li>
              <li class='relative'>
                <a href="./sponsor.html" class='flex items-center lg:h-16 p-5 lg:hover:text-m-gold lg:justify-center'>贊助我們</a>
              </li>

            </ul>

          </div>
        </div>
      </div>
      <ul class='flex items-center menu '>
        <li class='relative mr-1'>
          <a href="#" class='  hover:text-m-gold p-2 flex items-center ' id='searchBtn'>
            <svg class='fill-current w-8 h-8 lg:w-6 lg:h-6' viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </li>
        <li class='relative mr-1 hasSub '>
          <a href="#" class='  hover:text-m-gold p-2 flex items-center'>
            <svg class='fill-current w-8 h-8 lg:w-6 lg:h-6' viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
            </svg>
          </a>
          <div
            class='subMenu right-0'>
            <div class="inline-flex flex-col  p-4 flex-shrink-0">
              <div><a href="#" class='py-1 px-4 block hover:text-mainb popupBtn' data-popid='login'>會員登入</a></div>
              <div><a href="#" class='py-1 px-4 block hover:text-mainb'>文章收藏</a></div>
              <div><a href="my-card.html" class='py-1 px-4 block hover:text-mainb'>奇蹟卡收藏</a></div>
              <div><a href="#" class='py-1 px-4 block hover:text-mainb popupBtn' data-popid='lessonSetting'>每日一課設定</a></div>
            </div>
          </div>
        </li>
        <li class='relative mr-1'>
          <a href="#" class='p-2 hover:text-m-gold flex items-center'>簡體</a>
        </li>
        <li class="relative lg:hidden" id='m_menuBtn'>
          <div  class='open mr-1 hover:text-m-gold p-2 flex items-center cursor-pointer'>
            <svg class='fill-current w-12 h-12' fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </div>
          <div  class='cloz mr-1 hover:text-m-gold p-2 flex items-center cursor-pointer'>
            <svg class='fill-current w-12 h-12' fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </div>
        </li>
      </ul>
    </div>
    <div id="searchBar" class='bg-m-gold w-full text-white hidden'>
      <div class="container mx-auto py-2 px-4 flex items-center justify-center relative flex-col lg:flex-row ">
        <div class="mr-4 py-5 lg:py-0">全站搜尋</div>
        <div class="flex rounded-full max-w-xl w-full border overflow-hidden mr-4 ">
          <input type="search" placeholder="輸入搜尋內容" class='w-full pl-6 text-black rounded-none'>
          <input type="submit" value="搜尋"
            class='bg-mainb text-white py-2 px-8 hover:bg-mainb-light cursor-pointer text-lg'>
        </div>
        <div class="my-5 lg:my-0">熱門：肯恩 正文 真寬恕 讀書會</div>
        <div
          class="clozBtn text-mainb absolute right-0 top-0 mr-4 mt-4 lg:top-auto lg:mt-0 lg:mr-0  cursor-pointer hover:text-white duration-300 ">
          <svg class='fill-current w-12 h-12' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
            fill="currentColor">
            <path fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
              clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </div>
</header>