<!-- login : remove hidden class to show-->
<div
  class="popPage fixed w-full h-full top-0 left-0 z-50 bg-black bg-opacity-75 px-2 flex justify-center items-start pt-16 hidden">
  <div class="container relative max-w-screen-md bg-white px-10 py-12 border-mainb border-2 rounded-lg">
    <!-- clozBtn -->
    <div class="clozBtn text-mainb absolute right-0 top-0 mr-4 mt-4 cursor-pointer hover:text-mainb-light duration-300">
      <svg class='fill-current w-12 h-12 ' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>

    <div>
      <h2 class="text-2xl text-center">會員登入</h2>
      <hr class="text-gray-400 mt-4">
      <div class="px-2 pt-4 md:px-48">
        <a href="#" class='rounded-full  text-center text-white py-2 min-w-40 block my-4 hover:bg-opacity-75'
          style="background-color: #4469b0;">
          <i class="fb-icon-btn icon mr-2"></i> 快速註冊 / 登入
        </a>
        <div class="sideline text-center text-sm">OR</div>
        <input type="email" name="emal" id="email" placeholder="Email / 帳號"
          class='w-full mt-4 py-2 rounded-full px-4 border border-gray-400'>
        <!-- border-red-600 & border-2 for error input -->
        <input type="password" name="password" id="password" placeHolder="密碼"
          class='w-full mt-4 py-2 rounded-full px-4 border-red-600 border-2'>
        <div class="text-red-600 mt-1">*必填欄位</div>
        <input type="submit" value="登入"
          class='w-full rounded-full bg-m-gold text-center text-white py-2 min-w-40 block mt-4 cursor-pointer hover:bg-opacity-75'>

        <div class="flex justify-center mt-4">
          <a href="#" class='text-m-orange mx-2 hover:underline'>註冊會員</a>
          <a href="#" class='text-m-orange mx-2 hover:underline'>忘記密碼</a>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- email sign up : remove hidden class to show-->
<div
  class="hidden popPage fixed w-full h-full top-0 left-0 z-50 bg-black bg-opacity-75 px-2 flex justify-center items-start pt-16 ">
  <div class="container relative max-w-screen-md bg-white px-10 py-12 border-mainb border-2 rounded-lg">
    <!-- clozBtn -->
    <div class="clozBtn text-mainb absolute right-0 top-0 mr-4 mt-4 cursor-pointer hover:text-mainb-light duration-300">
      <svg class='fill-current w-12 h-12 ' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>

    <div>
      <h2 class="text-2xl text-center">Email註冊</h2>
      <hr class="text-gray-400 mt-4">
      <div class="px-2 pt-4 md:px-48">
        <input type="email" name="emal" id="email" placeholder="Email / 帳號"
          class='w-full mt-4 py-2 rounded-full px-4 border border-gray-400'>
        <input type="password" name="password" id="password" placeHolder="密碼"
          class='w-full mt-4 py-2 rounded-full px-4 border border-gray-400'>
        <input type="submit" value="註冊會員"
          class='w-full rounded-full bg-m-gold text-center text-white py-2 min-w-40 block mt-4 cursor-pointer hover:bg-opacity-75'>

        <div class="flex justify-center mt-4">
          註冊會員代表您已詳閱並同意<a href="#" target='_blank' class="cursor-pointer text-m-orange hover:underline">隱私權政策</a>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- forget password : remove hidden class to show-->
<div
  class="hidden popPage fixed w-full h-full top-0 left-0 z-50 bg-black bg-opacity-75 px-2 flex justify-center items-start pt-16 ">
  <div class="container relative max-w-screen-md bg-white px-10 py-12 border-mainb border-2 rounded-lg">
    <div class="clozBtn text-mainb absolute right-0 top-0 mr-4 mt-4 cursor-pointer hover:text-mainb-light duration-300">
      <svg class='fill-current w-12 h-12 ' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>

    <div>
      <h2 class="text-2xl text-center">忘記密碼</h2>
      <hr class="text-gray-400 mt-4">
      <div class="px-2 md:px-32 text-center pt-4">請輸入您註冊時所填寫的e-mail，<br>
        我們會立即發送密碼重新設定信到您的e-mail信箱。</div>
      <div class="px-2 pt-4 md:px-48">
        <input type="email" name="emal" id="email" placeholder="請輸入註冊時填寫的Email"
          class='w-full py-2 rounded-full px-4 border border-gray-400'>
        <input type="submit" value="確認"
          class='w-full rounded-full bg-m-gold text-center text-white py-2 min-w-40 block mt-4 cursor-pointer hover:bg-opacity-75'>
      </div>
    </div>
  </div>
</div>


<!-- password send : remove hidden class to show -->
<div
  class="hidden popPage fixed w-full h-full top-0 left-0 z-50 bg-black bg-opacity-75 px-2 flex justify-center items-start pt-16 ">
  <div class="container relative max-w-screen-md bg-white px-10 py-12 border-mainb border-2 rounded-lg">
    <div class="clozBtn text-mainb absolute right-0 top-0 mr-4 mt-4 cursor-pointer hover:text-mainb-light duration-300">
      <svg class='fill-current w-12 h-12 ' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>

    <div>
      <h2 class="text-2xl text-center">密碼發送</h2>
      <hr class="text-gray-400 mt-4">
      <div class="px-2 md:px-32 text-center pt-4">我們已將密碼重設信件寄至您的信箱
        <span class="text-m-gold">staresky2009@gmail.com</span>，請您前往收取，謝謝。
        為維護您的隱私及權益，信件連結將於密碼重設或24小時後失效。</div>
      <div class="px-2 pt-4 md:px-48">
        <input type="submit" value="確認"
          class='w-full rounded-full bg-m-gold text-center text-white py-2 min-w-40 block mt-4 cursor-pointer hover:bg-opacity-75'>
      </div>
    </div>
  </div>
</div>



<!-- lesson : remove hidden class to show -->
<div
  class="hidden popPage fixed w-full h-full top-0 left-0 z-50 bg-black bg-opacity-75 px-2 flex justify-center items-start pt-16 ">
  <div class="container relative max-w-screen-md bg-white px-10 py-12 border-mainb border-2 rounded-lg">
    <div class="clozBtn text-mainb absolute right-0 top-0 mr-4 mt-4 cursor-pointer hover:text-mainb-light duration-300">
      <svg class='fill-current w-12 h-12 ' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>

    <div>
      <h2 class="text-2xl text-center">密碼發送</h2>
      <hr class="text-gray-400 mt-4">
      <div class="px-2 pt-4 md:px-48">
        <div class="flex justify-center items-center">
          <div class='mr-4 text-lg'>課程進度</div>
          <div class="relative">
            <select
              class="rounded-full block appearance-none w-full  border  text-gray-700 py-3 px-6 pr-16 leading-tight focus:outline-none focus:bg-white border-gray-500">
              <option>第257課</option>
              <option>第258課</option>
              <option>第259課</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="px-2 md:px-32 pt-4">
        <label class="flex items-start mt-4">
          <input type="radio" class="mt-1 form-radio text-mainb border-mainb" name="accountType" value="personal">
          <span class="ml-2">固定 (停留在上方設定的課程進度)</span>
        </label>
        <label class="flex items-start mt-4">
          <input type="radio" class="mt-1 form-radio text-mainb border-mainb " name="accountType" value="personal">
          <span class="ml-2">每天前進一課 (設定好課程進度，之後每日自動推進一課)</span>
        </label>
        <input type="submit" value="確認"
          class='w-full rounded-full bg-m-gold text-center text-white py-2 min-w-40 block mt-6 cursor-pointer hover:bg-opacity-75'>
      </div>
    </div>
  </div>
</div>