<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=640">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%- title %> </title>
  <!-- hiding the Browser’s User Interface -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <!-- iOS 6 -->
  <meta name="apple-mobile-web-app-title" content="">
  <!-- meta start -->
  <meta name="title" content="<%- title %>" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="copyright" content="" />
  <link rel="image_src" href="" />
  <link rel="icon" type="image/png" href="./logo.png" />

  <!-- OG -->
  <meta property="og:title" content="<%- title %>" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="fb:app_id" content="" />
  <!-- CSS -->
  <!-- build:css css/lib.css -->
  <!-- endbuild -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
  <link rel="stylesheet" href="css/all.css">
</head>

<body>
  <!-- sider -->
  <% include conponents/popup %>
  <!-- sider END-->

  <!-- navbar -->
  <% include conponents/header %>
  <!-- navbar END -->

  <%- contents %>

  <!-- footer -->
  <% include conponents/footer %>
  <!-- footer END -->


  <div class="topBtn">
    <img src="./images/topBtn.png" alt="">
  </div>

  <script>
    // topBtn
    $('.topBtn').click(function () {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });

    // searchBtn
    $('#searchBtn').click(function () {
      $('#searchBar').toggleClass('hidden');
    });

    $('#searchBar .clozBtn').click(function () {
      $('#searchBar').toggleClass('hidden');
    });


    // moblie menu
    $('#m_menuBtn').click(function () {
      if ($('#mainMenu').hasClass('show')) {
        // unLockScroll();
        $('.header-container').addClass('removeBg');
        $(window).trigger('scroll');


      } else {
        // lockScroll();
        $('.header-container').removeClass('removeBg');

      }
      $('#mainMenu').toggleClass('show');

    });

    $('#mainMenu .clozBtn').click(function () {
      $('#mainMenu').toggleClass('show');
    });

    $('#header .hasSub').click(function () {
      $(this).find('.subMenu').toggleClass('active');
    });

    //  topBtn
    $(window).on('scroll', function () {
      const pos = typeof window.pageYOffset != 'undefined' ? window.pageYOffset : document.documentElement
        .scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ? document.body.scrollTop : 0;

      if (pos > 400) {
        $('#header').addClass('bg-1');
        $('.topBtn').removeClass('hidden');
      } else {
        $('#header').removeClass('bg-1');
        $('.topBtn').addClass('hidden');
      }
    })


    // cloz popups
    $('.popPage .clozBtn').click(function () {
      $(this).closest('.popPage').addClass('hidden');
    });

    // fontsize switch
    $('.fontsize-swicth a').click(function (e) {
      e.preventDefault();
      const size = $(this).attr('data-size');
      const article = $('.aritlcle-content')[0];
      const prefix = 'text-';

      var classes = article.className.split(" ").filter(function (c) {
        return c.lastIndexOf(prefix, 0) !== 0;
      });
      classes.push('text-' + size);

      article.className = $.trim(classes.join(" "));

      $(this).addClass('active').siblings('a').removeClass('active');
    });


    function lockScroll() {

      var scrollPosition = [
        self.pageXOffset || document.documentElement.scrollLeft || document.body.scrollLeft,
        self.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop
      ];
      var html = $('body'); // it would make more sense to apply this to body, but IE7 won't have that
      // html.css('height','100%');
      html.attr('data-scroll-position', scrollPosition);
      html.data('previous-overflow', html.css('overflow'));
      // $('html').css('height', '100%');
      // html.css('height', '100%');
      html.css('overflow', 'hidden');

      window.scrollTo(scrollPosition[0], scrollPosition[1]);

      $(document.body).on("touchmove", preventScroll);
    }

    function unLockScroll() {
      var html = jQuery('body');
      var scrollPosition = html.attr('data-scroll-position');

      if (!isNull(scrollPosition)) {
        html.css('overflow', html.data('previous-overflow'));
        // $('html').css('height', 'auto');
        // html.css('height', 'auto');
        window.scrollTo(scrollPosition[0], scrollPosition[1]);
        $(document.body).off("touchmove", preventScroll);
      }


    }

    function preventScroll(e) {
      e.preventDefault();
      e.stopPropagation();
    }

    function isNull(val) {
      return (typeof (val) === "undefined")
    }

    function initPops() {
      $('.popupBtn').click(function (e) {
        e.preventDefault();

        var t = $(this);
        var popId = t.attr('data-popid');

        $('.popPage').addClass('hidden');
        $('#pop-' + popId).removeClass('hidden');
      });
    }

    initPops();
  </script>
</body>

</html>